@font-face {
	font-family: "BLK Fort Extrabold";
	src:
		/* Super Modern Browsers */
		url("blkfort-extrabold-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "BLK Fort Bold";
	src:
		/* Super Modern Browsers */
		url("blkfort-bold-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "BLK Fort Book";
	src:
		/* Super Modern Browsers */
		url("blkfort-book-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "BLK Fort Cond Bold";
	src:
		/* Super Modern Browsers */
		url("blkfortcond-bold-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "BLK Fort Cond Light";
	src:
		/* Super Modern Browsers */
		url("blkfortcond-light-webfont.woff2") format("woff2");
}

/* MAIN
  ************************************************** */
body,
body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

#main-container {
	visibility: hidden;
	position: absolute;
	width: 300px;
	height: 250px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	border: 1px solid black;
	box-sizing: border-box;

	/* */
	overflow: hidden;
}

#background_exit {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

#mainbg {
	top: 0;
	position: absolute;
	width: 300px;
	height: 250px;
	background-color: #ffce00;
}

.canvas_img {
	position: absolute;
	top: 207px;
	left: 17px;
	width: 72px;
}

.canvas_size {
	position: absolute;
	width: 300px;
	height: 250px;
}

.Extrabold {
	font-family: "BLK Fort Extrabold";
}

.Bold {
	font-family: "BLK Fort Bold";
}

.Book {
	font-family: "BLK Fort Book";
}

#footer_wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 300px;
	background-color: #ffce00;
}

#footer {
	position: absolute;
	/*width: 110px;*/
	left: 19px;
	bottom: 15px;

	font-size: 11px;
	letter-spacing: -0.03em;
}

.maintext {
	position: absolute;

	letter-spacing: -0.03em;
}

.text1 {
	display: flex;
	align-items: flex-end;
	bottom: 174px;
	left: 18px;
	height: 150px;
	font-size: 23px;
	line-height: 23px;
}

.text2 {
	display: flex;
	top: 65px;
	left: 18px;
	height: 150px;
	font-size: 16px;
	line-height: 19px;
	word-spacing: 0.7px;
	flex-direction: column;
}

.text2 .Bold {
	margin-top: -10px;
	font-size: 18px;
	letter-spacing: -0.3px;
}

#cta {
	position: absolute;
	right: 18px;
	bottom: 18px;
	width: 96px;
	height: 23px;
	font-size: 11px;
	background-color: #ffffff;
	text-decoration: none;
	color: #000000;
}

.btn {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	/* z-index: 200;*/
}

#info {
	font-family: "BLK Fort Book";
	position: absolute;
	top: 17px;
	right: 17px;
	font-size: 8px;
	cursor: pointer;
}

/* TERMS
  ************************************************** */
#terms {
	width: 300px;
	height: 250px;
	/*top: -1px;
    left: -1px;*/
	cursor: pointer;
	overflow: hidden;
}

#close {
	position: absolute;
	width: 8px;
	top: 17px;
	right: 19px;
	padding: 3px;
}

.scollbtns {
	position: absolute;
	top: 0px;
	width: 35px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

#scroll {
	position: absolute;
	width: 35px;
	top: 37px;
	right: 9px;
}

#up {
	top: 5px;
	background-image: url("images/up_triangle.svg");
}

#circle {
	top: 15px;

	background-image: url("images/circle.svg");
}

#down {
	top: 25px;

	background-image: url("images/down_triangle.svg");
}

#text_wrapper {
	position: absolute;
	height: 150px;
	width: 228px;
	left: 19px;
	top: 45px;
	padding-right: 0px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#text_wrapper::-webkit-scrollbar,
#terms_text::-webkit-scrollbar {
	display: none;
}

.noselect {
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.nopointer {
	pointer-events: none;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

#info img {
	height: 7px;
}

.Bold.copy {
	font-family: "BLK Fort Cond Bold";
	font-size: 11px;
	line-height: 12px;
}

.Bold.copy.inner {
	font-family: "BLK Fort Cond Bold";
	font-size: 8px;
}

.Book.copy {
	font-family: "BLK Fort Cond Light";
	font-size: 8px;
	line-height: 10px;
}

.anim_container {
	height: 250px;
	width: 300px;
	position: absolute;
	transform: translate(40px, 0px);
}

#runway {
	height: 250px;
	width: 1489px;
	position: absolute;
	top: -1px;
}

#plane {
	height: 43px;
	width: 133px;
	position: absolute;
	top: 134px;
	left: 136px;
	transform: translateX(-290px) translateY(-58px) rotate(354deg);
	opacity: 0;
}

.anim_container img {
	position: absolute;
	height: 250px;
	width: 300px;
}

.calendar_text {
	color: white;
	position: absolute;
	top: 125px;
	left: 159px;
	font-size: 34px;
	transform: skew(10deg, 357deg);
}

.calendar_item {
	position: absolute;
	transform-origin: 90.33% 36.6%;
	width: 300px;
	height: 250px;
}

.confetti-container {
	position: absolute;
	top: 130px;
	left: 180px;
}

.t1word {
	transform: translateX(-30px);
	display: inline-block;
	opacity: 0;
}

span a {
	color: black;
	text-decoration: none;
}