
@font-face {
    font-family: 'inter';
    src: url('fonts/subset-Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter-regular';
    src: url('fonts/subset-Inter18pt-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 50%;
}
sub { 
  top: 0.4em; 
} */
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  width:300px;
  height:250px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  background-color: #fff;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
  overflow:hidden;
}

#text-container {
  width: 300px;
  height: 250px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
  height: auto;
}

.full-width {
  width: 300px;
  height: auto;
}

.copy {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: #ffffff;
}

.inter {
  font-family: 'inter', sans-serif;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.blue-text {
  color: #0a2f46;
}

.copy1 {
  left: 16px;
  top: 23px;
  font-size: 17.8px;
  line-height: 29.5px;
}
#text-1b{
  left: 107px;
}
#text-3{
  top: 153px;
  left: 12px;
  font-size: 19px;
  line-height: 19.5px;
}

#text-4{
  font-size: 28.5px;
  line-height: 33px;
  top: 167px;
  left: 16px;
  letter-spacing: 0.2px;
}
#text-4 sup{
      position: relative;
    font-size: 100%;
    line-height: 0px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    top: -1px;
    left: 0px;
}
.copy-legal {
  font-size: 7px;
  text-align: left;
}

#text-4{
  left: 17px;
  top: 77px;
  font-size: 26.5px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #ff6100;
}
#text-2{
  left: 106px;
}
#text-4 sup{
  position: relative;
  font-size: 100%;
  line-height: 0px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  top: -1px;
  left: 1px;
}
#frame-1,
#frame-2,
#frame-3,
#solid {
  top: 0;
  left: 0;

  width: 300px;
  height: 250px;
  
  transform-origin: 55% 87%;
}
#frame-1, #frame-2{
  transform-origin: 6% 92%;
}
/* #bg-1-icon{
  background-color: #0a2f46;
} */
#solid {
  background-color: #0a2f46;
}

#bg-1,
#bg-1-icon {
    transform-origin: 47.3% 42.2%;
    z-index: 5;
}

#icon-1,
#icon-2 {
  top: 250px;
  
  transform-origin: 28.6% 50%;

  z-index: 10;
}

#icon-1 {
  left: -150px;
}

#icon-2 {
  left: 150px;
}

#cta,
#cta-2,
#cta-3 {
  position: absolute;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  transform-origin: center;
  border-radius: 100px;
  top: 211px;
  right: 14px;
  background: none;
  border: 1.74px #ff6100 solid;
  color: #ffffff;
  font-size: 13.4px;
  line-height: 12px;
  letter-spacing: 0.02rem;
  width: 110px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter-regular';
}

#cta-2 {
  background: #0a2f46;
  border: none;
  width: 89px;
  height: 25px;
}

#cta-text {
  position: relative;
  /* top: 1px; */
}

#chevron {
  position: relative;
  top: 1px;
  width: auto;
  height: 13px;
}

/* .logo {
  width: 113px;

  top: 204px;
  left: 160px;
} */

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.box{
  position: relative;
  left: 94px;
  top: 63px;
  width: 168px;
  height: 117px;
  border-radius: 10px;

  /* Main gradient */
  background: linear-gradient(
    135deg,
    #0b3a5f 0%,
    #0f4f7d 40%,
    #0b3a5f 70%,
    #0a2f55 100%
  );

  /* Border + glow effect */
  box-shadow:
    inset 0 0 0 0.5px rgba(60, 180, 255, 0.35),
    inset 0 0 30px rgba(0, 120, 200, 0.35),
    0 0 40px rgba(0, 120, 255, 0.25);

  overflow: hidden;
  padding: 6px;
}

.inner-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.inner-box img{
  width: 100%;
  transform: translate(0px, -107px);
}
.logo{
  width: 110px;
  top: 211px;
  left: 17px;
  position: absolute;
}

.star{
  position: absolute;
  top: 167px;
  left: 54px;
  width: 18px;
}
.star2{
  left: 272px;
  top: 117px;
  width: 6px;
}
.star3{
  top: 57px;
  left: 85px;
  width: 6px;
}
.card{
  position: absolute;
  left: 23px;
  top: 79px;
  width: 87px;
  
}