img, div, svg, ft-click,ft-video-controls{position: absolute; margin: 0; padding: 0; -webkit-backface-visibility: hidden; -moz-backface-visibility:hidden; backface-visibility: hidden;}
body{
  color:#000;
  margin:0;
  
}

.bannerSize{width: 728px; height: 90px;}

#cover{
  background-color: #f4f4f4;
  top: 0;
  z-index: 949;
}

.clickthrough{
  cursor: pointer;
  z-index: 800;
} 

.defaultBorder{
  border: 1px solid #7d7d7d;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
  z-index: 1000;
}

.defaultSize{
  height: 90px;
  width: 728px;
}
.expandSize{
  height: 250px;
  width: 728px;
}

ft-default{
  background-color: #D6E8EA;
  height:90px;
  text-align: center;
  width:728px;  
  overflow: hidden;  
}

.capOneLogo{
  height: 48px;
  left: 32px;
  top: 21px;
  width: 129px;
  z-index: 400;
}
#redSwoop{
  height: 48px;
  left: 35px;
  top: 0;
  width: 90px;
}
#capital{
  height: 20px;
  left: 0;
  top: 19px;
  width: 88px;
}
#one{
  height: 20px;
  left: 88px;
  top: 19px;
  width: 41px;
}

.ctaCont {
  height: 31px;
  left: 654.5px;
  top: 29.5px;
  width: 20px;
}
.ctaCont #rArrow {
  height: inherit;
  width: inherit;
}

#fdicLogo{
  height: 27px;
  left: 592px;
  top: 31px;
  width: 43px;
}

#txt1a {
  height: 21px;
  left: 0px;
  top: 0px;
  width: 292px;
}
#txt1b {
  height: 21px;
  left: 0;
  top: 27px;
  width: 165px;
}

.mask {
  left: 230px;
  top: 24px;
}

.mask a {
  animation: 3s 
cubic-bezier(0.7, 0.1, 0.1, 0.7) 1s shimmer;
  background-position: -360px 0;
  display: block;
  height: 48px;
  left: 0px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 292px;
}

#mask-glimmer{
  height: 51px;
  width: 356px;
}

.mask a::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(0 0, circle farthest-side, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-position: inherit;
  mask: url("#mask-glimmer");
}

@keyframes shimmer {
  from {
    background-position: -360px 0;
  }
  to {
    background-position: 360px 0;
  }
}

ft-expand{
    background-color: #D6E8EA;
    height:250px;
    margin-top:0;
    overflow: hidden;
    position:absolute;
    text-align: center;
    width:728px;
}

#close{
  height: 20px;
  right: 0;
  top: 0;
  width: 20px;
  z-index: 850;
}

.expCapOneLogo{
  height: 30px;
  left: 463px;
  top: 19.5px;
  width: 82px;
  z-index: 399;
}

.expCapOneLogo #redSwoop{
  height: 30px;
  left: 22px;
  top: 0;
  width: 57px;
}

.expCapOneLogo #capital{
  height: 13px;
  left: 0;
  top: 12px;
  width: 55px;
}

.expCapOneLogo #one{
  height: 13px;
  left: 56px;
  top: 12px;
  width: 26px;
}

.expandBtn, .closeBtn{
  height: 20px;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  width: 20px;
  z-index: 850;
}

.closeBtn{
  transform: rotate(0deg);
}

.txt2a {
  height: 15px;
  left: 0px;
  width: 109px;
}
.txt2b {
  height: 15px;
  left: 0;
  top: 19px;
  width: 94px;
}
.txt2c {
  height: 15px;
  left: 0px;
  top: 40px;
  width: 118px;
}
.exp-mask {
  left: 464px;
  top: 69px;
}

.exp-mask a {
  animation: 3s 
cubic-bezier(0.7, 0.1, 0.1, 0.7) 0.25s expshimmer;
  background-position: -135px 0;
  display: block;
  height: 55px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  width: 118px;
}

#exp-mask-glimmer{
  height: 66px;
  width: 131px;
}

.exp-mask a::after{
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(0 0, circle farthest-side, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background: radial-gradient(circle farthest-side at 0 0, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%) no-repeat;
  background-position: inherit;
  mask: url("#exp-mask-glimmer");
}

@keyframes expshimmer {
  from {
    background-position: -135px 0;
  }
  to {
    background-position: 135px 0;
  }
}

/*----- Video Container -----*/
.videoCont{
  height: 250px;
  left: 0;
  top: 0;
  width: 446px;
  z-index: 830;
}
#vidPoster{
  height: inherit;
  left: 0;
  width: inherit;
  z-index: 831;
}
#video1{
  height: inherit;
  left: 0;
  position: absolute;
  width: inherit;
}

/*----- expand cta -----*/
.ctaExpCont{
  height: 100%;
  width: 100%;
}
.ctaExpCont .ctaBtn {
  height: 8px;
  left: 464px;
  top: 153px;
  width: 60px;
}
.ctaExpCont #ctaTxt {
  height: 8px;
  left: 0;
  top: 0;
  width: 52px;
}
.ctaExpCont #rArrowExp {
  height: 6px;
  left: 56px;
  top: 1px;
  width: 4px;
}

#fdicLogoExp{
  height: 19px;
  left: 463px;
  top: 209px;
  width: 30px;
}

#jeremy{
  height: 207px;
  left: 547px;
  top: 42px;
  width: 181px;
}